<!doctype html><!--
        _..._
      .'     '.      _
     /    .-""-\   _/ \
   .-|   /:.   |  |   |
   |  \  |:.   /.-'-./
   | .-'-;:__.'    =/
   .' PORTFOLIUM .='
  /   _.  |    ;
 ;-.-'|    \   |
/   | \    _\  _\
\__/'._;.  ==' ==\
         \    \   |
         /    /   /
         /-._/-._/
         \   `\  \
          `-._/._/
-->
<html lang="en"> 
 <head> 
  <title pf-page-title>Cal Poly Pomona Portfolios - Powered by Portfolium</title> 
  <meta name="robots" content="all"> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="application-name" content="Portfolium"> 
  <meta name="copyright" content="© 2021 Portfolium, Inc."> 
  <meta name="format-detection" content="telephone=no"> 
  <meta name="keywords" content="portfolium, student portfolio, eportfolio, student resume, eportfolio examples, free eportfolio, career portfolio, student showcase, student network, student project, visual resume, e portfolio"> 
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"> 
  <meta name="fb:app_id" property="fb:app_id" content="501322116570266"> 
  <meta name="og:type" property="og:type" content="website"> 
  <meta name="og:url" property="og:url" content="https://portfolium.com/network/cal-poly-pomona"> 
  <meta name="og:title" property="og:title" content="Cal Poly Pomona | Portfolium"> 
  <meta name="og:image" property="og:image" content="https://cdn.portfolium.com/ugcs3%2Fnetworks%2F2A4039C6-2901-88CE-D3E7-3703A745D7E8-cpp.jpg"> 
  <meta name="og:description" property="og:description" content="See the exclusive ePortfolio network for students and alumni of Cal Poly Pomona on Portfolium"> 
  <meta name="og:site_name" property="og:site_name" content="Portfolium"> 
  <meta name="twitter:card" property="twitter:card" content="summary_large_image"> 
  <meta name="twitter:site" property="twitter:site" content="@PortfoliumHQ"> 
  <meta name="twitter:title" property="twitter:title" content="Cal Poly Pomona | Portfolium"> 
  <meta name="twitter:description" property="twitter:description" content="See the exclusive ePortfolio network for students and alumni of Cal Poly Pomona on Portfolium"> 
  <meta name="twitter:url" property="twitter:url" content="https://portfolium.com/network/cal-poly-pomona"> 
  <meta name="twitter:image" property="twitter:image" content="https://portfolium1.cloudimg.io/s/crop/764x400/https://cdn.portfolium.com/ugcs3%2Fnetworks%2F2A4039C6-2901-88CE-D3E7-3703A745D7E8-cpp.jpg"> 
  <meta name="author" property="author" content="Portfolium, Inc."> 
  <meta name="description" property="description" content="See the exclusive ePortfolio network for students and alumni of Cal Poly Pomona on Portfolium">         
  <base href="/"> 
 </head> 
 <body class="c_home a_feed cname-page windows chrome visitor desktop md-layout-css" md-layout-css layout="column"> 
  <div class="a11y-navigation">  <!-- <a href="#footer" du-smooth-scroll duration="500" class="for-screenreader">Skip to Footer</a> --> 
  </div> <md-content id="pf-content" class="main" role="main" layout="column" flex> 
   <div> 
    <div class="mini-header"> 
     <ul> 
      <li>  </li> 
      <li>  </li> 
     </ul> 
    </div> 
    <div class="mobile-extras-menu pf-tools-container" hide-gt-sm>  
     <div class="popup mobile page" data-right="6px"> 
      <div class="arrow"> 
       <div class="fill"></div> 
      </div> 
      <div class="container"> 
       <div class="insides"> 
        <div class="links"> 
         <ul> 
          <li> </li>
          <li> </li>
          <li></li> 
          <li>
           <hr></li> 
          <li>  </li> 
          <li>  </li> 
          <li>
           <hr></li> 
          <li></li> 
          <li></li> 
         </ul> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="hero" style="background-image: url('https://cdn.portfolium.com/ugcs3%2Fnetworks%2Fcalpolypomona-cover.jpg');"> 
     <div class="hero-inner"> 
      <div class="filters"> <span>Show me</span> 
       <div id="category-filter" class="dropdown" data-category="" data-slug="">  
        <div class="popup" data-left="30px"> 
         <div class="arrow"> 
          <div class="fill"></div> 
         </div> 
         <div class="container"> 
          <div class="insides"> 
           <div class="links"> 
            <ul> 
             <li data-slug="">  </li> 
             <li data-slug="activism-service">  </li> 
             <li data-slug="art-design">  </li> 
             <li data-slug="business">  </li> 
             <li data-slug="computer-science">  </li> 
             <li data-slug="culinary-arts">  </li> 
             <li data-slug="creative-performance">  </li> 
             <li data-slug="education">  </li> 
             <li data-slug="engineering">  </li> 
             <li data-slug="science">  </li> 
             <li data-slug="math-physics">  </li> 
            </ul> 
            <ul> 
             <li data-slug="marketing-advertising">  </li> 
             <li data-slug="health-care">  </li> 
             <li data-slug="social-sciences">  </li> 
             <li data-slug="sports-recreation">  </li> 
             <li data-slug="technology">  </li> 
             <li data-slug="travel">  </li> 
             <li data-slug="armed-forces">  </li> 
             <li data-slug="other">  </li> 
             <li data-slug="humanities">  </li> 
             <li data-slug="agriculture">  </li> 
             <li data-slug="client-services">  </li> 
            </ul> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> <span>Sorted By</span> 
       <div id="sort-filter" class="dropdown" data-sort="">  
        <div class="popup" data-left="30px"> 
         <div class="arrow"> 
          <div class="fill"></div> 
         </div> 
         <div class="container"> 
          <div class="insides"> 
           <div class="links"> 
            <ul> 
             <li data-sort="">  </li> 
             <li data-sort="views">  </li> 
             <li data-sort="likes">  </li> 
             <li data-sort="comments">  </li> 
            </ul> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="stick-me-category">   
      </div> 
     </div> 
    </div> 
    <div class="full-width"> 
     <div class="profile-navbar-angled"></div> 
    </div> 
    <div class="profile-navbar"> 
     <div class="stuck-holder"> 
      <div class="navbar-contents network"> 
       <div class="navbar-contents-container"> 
        <div class="profile-navbar-angled"> 
         <h1 class="ellipsis">     </h1> 
         <h2>Portfolios</h2> 
        </div> 
        <div class="avatar-main-holder"> 
         <h3 class="name-small">  
          <div class="ellipsis"></div> </h3>  
        </div> 
        <div class="filters-holder network" role="navigation">    
        </div> 
        <div class="ctas">  
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div id="a11y-content" class="a11y-content" tabindex="-1"></div> 
    <div class="cname-wrapper"> 
     <div class="cards"> 
      <div id="entry-4150236" class="card entry-card" dir="ltr" data-id="4150236"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description"></p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4150236" data-link="http://portfolios.cpp.edu/entry/ete3351homework3" data-title="ETE 3351:Homework3" data-credit="Joshua Linares" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8C62F949-017C-4933-8AF3-CF9F39DB673B_ETE3351-HW3.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4150236" data-link="http://portfolios.cpp.edu/entry/ete3351homework3" data-title="ETE 3351:Homework3" data-credit="Joshua Linares" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8C62F949-017C-4933-8AF3-CF9F39DB673B_ETE3351-HW3.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4150236" data-link="http://portfolios.cpp.edu/entry/ete3351homework3" data-title="ETE 3351:Homework3" data-credit="Joshua Linares" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8C62F949-017C-4933-8AF3-CF9F39DB673B_ETE3351-HW3.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4150236" data-entry-id="4150236"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4150105" class="card entry-card" dir="ltr" data-id="4150105"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Lab 3 report.</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4150105" data-link="http://portfolios.cpp.edu/entry/ete3351-lab-3-spectrum-analyzer" data-title="ETE3351 LAB 3 Spectrum Analyzer" data-credit="Carlos Lopez" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F0F52ABE6-CC87-460A-B496-38A8B3A1D95A_ETE-3351-LAB-3-REPORT.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4150105" data-link="http://portfolios.cpp.edu/entry/ete3351-lab-3-spectrum-analyzer" data-title="ETE3351 LAB 3 Spectrum Analyzer" data-credit="Carlos Lopez" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F0F52ABE6-CC87-460A-B496-38A8B3A1D95A_ETE-3351-LAB-3-REPORT.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4150105" data-link="http://portfolios.cpp.edu/entry/ete3351-lab-3-spectrum-analyzer" data-title="ETE3351 LAB 3 Spectrum Analyzer" data-credit="Carlos Lopez" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F0F52ABE6-CC87-460A-B496-38A8B3A1D95A_ETE-3351-LAB-3-REPORT.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4150105" data-entry-id="4150105"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4149870" class="card entry-card" dir="ltr" data-id="4149870"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Bubba Oscillator Circuit. ETE33531 Lab 2. Vrms Homework Calculations.</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4149870" data-link="http://portfolios.cpp.edu/entry/ete3351-lab-2-vrms-hw" data-title="ETE3351 LAB 2 &amp; VRMS HW" data-credit="Carlos Lopez" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F608B7B53-A873-41AF-AE11-85509BFFCE33_ETE3351-LAB-2-REPORT.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4149870" data-link="http://portfolios.cpp.edu/entry/ete3351-lab-2-vrms-hw" data-title="ETE3351 LAB 2 &amp; VRMS HW" data-credit="Carlos Lopez" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F608B7B53-A873-41AF-AE11-85509BFFCE33_ETE3351-LAB-2-REPORT.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4149870" data-link="http://portfolios.cpp.edu/entry/ete3351-lab-2-vrms-hw" data-title="ETE3351 LAB 2 &amp; VRMS HW" data-credit="Carlos Lopez" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F608B7B53-A873-41AF-AE11-85509BFFCE33_ETE3351-LAB-2-REPORT.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4149870" data-entry-id="4149870"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148998" class="card entry-card" dir="ltr" data-id="4148998"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Mapping and sensory analysis of the Upper Newport Bay Ecological Reserve.</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148998" data-link="http://portfolios.cpp.edu/entry/newport-beach-ecological-reserve-case-study" data-title="Newport Beach Ecological Reserve, Case Study" data-credit="Lydia Oweis" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F66D10E3F-13AB-42B5-AB27-6FB0ECA24422_FullSectionCutRendered2.jpg"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148998" data-link="http://portfolios.cpp.edu/entry/newport-beach-ecological-reserve-case-study" data-title="Newport Beach Ecological Reserve, Case Study" data-credit="Lydia Oweis" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F66D10E3F-13AB-42B5-AB27-6FB0ECA24422_FullSectionCutRendered2.jpg"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148998" data-link="http://portfolios.cpp.edu/entry/newport-beach-ecological-reserve-case-study" data-title="Newport Beach Ecological Reserve, Case Study" data-credit="Lydia Oweis" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F66D10E3F-13AB-42B5-AB27-6FB0ECA24422_FullSectionCutRendered2.jpg"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148998" data-entry-id="4148998"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148923" class="card entry-card" dir="ltr" data-id="4148923"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">A sensory analysis of the Regenerative Studies space of Cal Poly Pomona.</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148923" data-link="http://portfolios.cpp.edu/entry/lyle-center-case-study" data-title="Lyle Center Case Study" data-credit="Lydia Oweis" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F06CCFF6C-DFE7-4EF1-85A7-61FFA4466D5E_SensorySectionCut.jpg"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148923" data-link="http://portfolios.cpp.edu/entry/lyle-center-case-study" data-title="Lyle Center Case Study" data-credit="Lydia Oweis" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F06CCFF6C-DFE7-4EF1-85A7-61FFA4466D5E_SensorySectionCut.jpg"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148923" data-link="http://portfolios.cpp.edu/entry/lyle-center-case-study" data-title="Lyle Center Case Study" data-credit="Lydia Oweis" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F06CCFF6C-DFE7-4EF1-85A7-61FFA4466D5E_SensorySectionCut.jpg"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148923" data-entry-id="4148923"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148652" class="card entry-card" dir="ltr" data-id="4148652"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Develop a source-panel computer program to compute the pressure distribution, at a zero-lift angle of...</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148652" data-link="http://portfolios.cpp.edu/entry/source-panel-method-computer-project" data-title="Source Panel Method Computer Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8196CC77-6EE0-4CE7-B190-83916A056A69_FluidsComputerProjectReport.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148652" data-link="http://portfolios.cpp.edu/entry/source-panel-method-computer-project" data-title="Source Panel Method Computer Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8196CC77-6EE0-4CE7-B190-83916A056A69_FluidsComputerProjectReport.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148652" data-link="http://portfolios.cpp.edu/entry/source-panel-method-computer-project" data-title="Source Panel Method Computer Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8196CC77-6EE0-4CE7-B190-83916A056A69_FluidsComputerProjectReport.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148652" data-entry-id="4148652"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148559" class="card entry-card" dir="ltr" data-id="4148559"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Responded to a project request for a mission that involved a sample return from the asteroid Ceres...</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148559" data-link="http://portfolios.cpp.edu/entry/orbital-mechanics-ceres-sample-return-project" data-title="Orbital Mechanics Ceres Sample Return Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8920AEC5-7137-4E70-A1D1-ED3680D03CB8_ARO-3090-Project-Description-20.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148559" data-link="http://portfolios.cpp.edu/entry/orbital-mechanics-ceres-sample-return-project" data-title="Orbital Mechanics Ceres Sample Return Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8920AEC5-7137-4E70-A1D1-ED3680D03CB8_ARO-3090-Project-Description-20.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148559" data-link="http://portfolios.cpp.edu/entry/orbital-mechanics-ceres-sample-return-project" data-title="Orbital Mechanics Ceres Sample Return Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F8920AEC5-7137-4E70-A1D1-ED3680D03CB8_ARO-3090-Project-Description-20.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148559" data-entry-id="4148559"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148523" class="card entry-card" dir="ltr" data-id="4148523"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Conducted heat transfer analysis on a fin attached to a wall using finite difference approximations...</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148523" data-link="http://portfolios.cpp.edu/entry/thermodynamic-heat-transfer-project" data-title="Thermodynamic &amp; Heat Transfer Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FF25A86EB-990E-4481-A874-83312E32A039_JesseT-HeatTransferProjectFinal.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148523" data-link="http://portfolios.cpp.edu/entry/thermodynamic-heat-transfer-project" data-title="Thermodynamic &amp; Heat Transfer Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FF25A86EB-990E-4481-A874-83312E32A039_JesseT-HeatTransferProjectFinal.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148523" data-link="http://portfolios.cpp.edu/entry/thermodynamic-heat-transfer-project" data-title="Thermodynamic &amp; Heat Transfer Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FF25A86EB-990E-4481-A874-83312E32A039_JesseT-HeatTransferProjectFinal.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148523" data-entry-id="4148523"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148491" class="card entry-card" dir="ltr" data-id="4148491"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">The project objective was to design an attitude control system for an earth-pointing dual-spin satellite...</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148491" data-link="http://portfolios.cpp.edu/entry/space-vehicle-dynamics-and-control-project" data-title="Space Vehicle Dynamics And Control Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F2E1EAC1E-83E6-431C-8658-9A6E66E558DB_JesseT-FarahK-ARO4090-Final-Project-Report.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148491" data-link="http://portfolios.cpp.edu/entry/space-vehicle-dynamics-and-control-project" data-title="Space Vehicle Dynamics And Control Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F2E1EAC1E-83E6-431C-8658-9A6E66E558DB_JesseT-FarahK-ARO4090-Final-Project-Report.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148491" data-link="http://portfolios.cpp.edu/entry/space-vehicle-dynamics-and-control-project" data-title="Space Vehicle Dynamics And Control Project" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F2E1EAC1E-83E6-431C-8658-9A6E66E558DB_JesseT-FarahK-ARO4090-Final-Project-Report.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148491" data-entry-id="4148491"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4148473" class="card entry-card" dir="ltr" data-id="4148473"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Built a Lunar entry and Ascent Cold Gas Vehicle and mounted it on a ball joint to be used a platform...</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4148473" data-link="http://portfolios.cpp.edu/entry/project-at-usc-space-engineering-research-center" data-title="Project at USC Space Engineering Research Center" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FB8704DEF-6B82-43DC-939D-DD9313AA882D_LEAPFROG-PRESENTATION-SUMMER-2019.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4148473" data-link="http://portfolios.cpp.edu/entry/project-at-usc-space-engineering-research-center" data-title="Project at USC Space Engineering Research Center" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FB8704DEF-6B82-43DC-939D-DD9313AA882D_LEAPFROG-PRESENTATION-SUMMER-2019.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4148473" data-link="http://portfolios.cpp.edu/entry/project-at-usc-space-engineering-research-center" data-title="Project at USC Space Engineering Research Center" data-credit="Jesse Torres" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FB8704DEF-6B82-43DC-939D-DD9313AA882D_LEAPFROG-PRESENTATION-SUMMER-2019.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4148473" data-entry-id="4148473"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4144897" class="card entry-card" dir="ltr" data-id="4144897"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">ADC Digital code Calculations Assignment, ETE4201 lab during COVID</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4144897" data-link="http://portfolios.cpp.edu/entry/adc-digital-code-calculations-assignment" data-title="ADC Digital code Calculations Assignment" data-credit="Tae Young Kim" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FD6DD29EF-D83C-45B8-8F01-EBE3ED62878B_ADC-Excel-DIgital-code-Assignment.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4144897" data-link="http://portfolios.cpp.edu/entry/adc-digital-code-calculations-assignment" data-title="ADC Digital code Calculations Assignment" data-credit="Tae Young Kim" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FD6DD29EF-D83C-45B8-8F01-EBE3ED62878B_ADC-Excel-DIgital-code-Assignment.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4144897" data-link="http://portfolios.cpp.edu/entry/adc-digital-code-calculations-assignment" data-title="ADC Digital code Calculations Assignment" data-credit="Tae Young Kim" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2FD6DD29EF-D83C-45B8-8F01-EBE3ED62878B_ADC-Excel-DIgital-code-Assignment.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4144897" data-entry-id="4144897"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
      <div id="entry-4143324" class="card entry-card" dir="ltr" data-id="4143324"> 
       <div class="card-profile " layout="row" layout-align="start center">   
       </div> 
       <div class="card-image">  
        <div class="pf-entry-card-ribbon-legacy"> 
         <div layout="column" layout-align="start start"> 
         </div> 
        </div> 
       </div> 
       <div class="card-copy"> 
        <p class="entry-title ellipsis">  </p> 
        <p class="card-description">Simpson 260 ammeter assignment</p> 
       </div> 
       <div class="card-cat">  
       </div> 
       <div class="card-extras"> 
        <div class="actions" ng-cloak>  <span flex></span> <md-menu md-position-mode="target-right target" class="pf-menu--social-share"> 
          <md-button aria-label="Open share menu" class="md-icon-button pf-share-button" ng-click="$mdOpenMenu($event)"> 
           <md-icon md-menu-origin>
            share
           </md-icon> 
          </md-button> 
          <md-menu-content width="4"> 
           <md-menu-item> 
            <md-button class="action share share-dropdown facebook" ng-click="" data-provider="facebook" data-entry-id="4143324" data-link="http://portfolios.cpp.edu/entry/ete4201-simpson-ammeter" data-title="ETE4201 Simpson Ammeter" data-credit="Tae Young Kim" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F417FAC34-E818-446B-A619-BC1E5DC88280_Simpson260Excercise.png"> 
             <div layout="row" flex> 
              <p flex>Facebook</p> <md-icon md-font-set="fa" md-font-icon="fa-facebook" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown twitter" ng-click="" data-provider="twitter" data-entry-id="4143324" data-link="http://portfolios.cpp.edu/entry/ete4201-simpson-ammeter" data-title="ETE4201 Simpson Ammeter" data-credit="Tae Young Kim" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F417FAC34-E818-446B-A619-BC1E5DC88280_Simpson260Excercise.png"> 
             <div layout="row" flex> 
              <p flex>Twitter</p> <md-icon md-font-set="fa" md-font-icon="fa-twitter" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share share-dropdown linkedin" ng-click="" data-provider="linkedin" data-entry-id="4143324" data-link="http://portfolios.cpp.edu/entry/ete4201-simpson-ammeter" data-title="ETE4201 Simpson Ammeter" data-credit="Tae Young Kim" data-image="https://cdn.portfolium.com/ugcs3%2Fv3%2Fproject_attachments%2F417FAC34-E818-446B-A619-BC1E5DC88280_Simpson260Excercise.png"> 
             <div layout="row" flex> 
              <p flex>LinkedIn</p> <md-icon md-font-set="fa" md-font-icon="fa-linkedin" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
           <md-menu-item> 
            <md-button class="action share embed share-dropdown" ng-click="" data-provider="embed" data-link="https://portfolium.com/entry/embed/4143324" data-entry-id="4143324"> 
             <div layout="row" flex> 
              <p flex>Embed</p> <md-icon md-font-set="fa" md-font-icon="fa-code" class="fa" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon> 
             </div> 
            </md-button> 
           </md-menu-item> 
          </md-menu-content> 
         </md-menu> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="pagination"> 
      <ul> 
       <li class="page-next">  </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="modal" role="dialog" aria-hidden="true">  
    <div class="modal-window"> 
     <div class="modal-inner"> <label class="modal-close" aria-label="close" for="modal-1" title="Close">Close</label> 
      <div class="modal-content"> 
       <div id="loading" class="spinner"></div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="shadow-layer"></div> 
   <div class="footer-placeholder"></div> 
  </md-content>     
 </body>
</html>